* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40px;
  font-size: 32px;
  font-family: serif;
}

.info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info > p {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: calc(100vh - 160px);
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.left-content,
.right-content {
  width: 95%;
  height: 95%;
  min-width: 250px;
  min-height: 250px;
  max-width: 600px;
  max-height: 600px;
}

.player-info {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  border: 1px solid lightgrey;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.board {
  aspect-ratio: 1;
  height: min(45vw, 100%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  box-shadow: 0 0 4px darkslategray;
}

.hover {
  background-color: dimgray;
}

.hit {
  background-color: red;
}

.miss {
  background-color: royalblue;
}

.ship {
  background-color: darkslategray;
}

.ship.hover {
  background-color: darkred;
}

.ship.hit {
  background-color: red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.overlay {
  scale: 0;
  transform: scale(0);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.overlay.visible {
  scale: 1;
  transform: scale(1);
}

.dialog-box {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 300px;
}
