* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

main {
  display: flex;
  height: calc(100vh - 80px);
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.left-content,
.right-content {
  width: 95%;
  height: 95%;
  min-width: 250px;
  min-height: 250px;
  max-width: 600px;
  max-height: 600px;
}

.player-info {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  border: 1px solid grey;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.board {
  aspect-ratio: 1;
  height: min(45vw, 100%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  box-shadow: 0 0 4px black;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.ship {
  background-color: darkslategray;
}

.ship.hit {
  background-color: red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
